@model RealEstate.Mvc.Model.AdjustPriceViewModel
@{
    ViewBag.Title = "Adjust Price";
}

<h2>@ViewBag.Title</h2>

<form asp-controller="Rentals" asp-action="AdjustPrice" method="POST" asp-antiforgery="true" class="form form-horizontal">
  <div class="form-group">
    <label asp-for="@Model.Rental.Description" class="control-label col-md-2"></label>
    <div class="col-md-10">
      <p class="form-static-control">
        @Model.Rental.Description
      </p>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-2" asp-for="@Model.Rental.Price">Old Price</label>
    <div class="col-md-10">
      <p class="form-control-static">@Model.Rental.Price</p>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-2" asp-for="@Model.AdjustPrice.NewPrice">Adjust Price</label>
    <div class="col-md-10">
        <input asp-for="@Model.AdjustPrice.NewPrice"/>
    </div>
  </div>
  <div class="form-group">
    <label asp-for="@Model.AdjustPrice.Reason" class="control-label col-md-2"></label>
    <div class="col-md-10">
      <textarea class="form-control" asp-for="@Model.AdjustPrice.Reason"></textarea>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <button class="btn btn-primary" role="submit">Adjust</button>
    </div>
  </div>
</form>
